.App {
  width:780px;
  margin: auto;
  height:1250px;
  /* border:1px solid red; */
}
.input_box{
  border-color: #f5f5f5;
  border-radius:5px;
  box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
  width:100%;
  height:50px;
  padding: 0px 50px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
 
}
._flex{
  display:flex;
  /* border: 1px solid rebeccapurple; */
  position: relative;
  height:4.5%;
}
.Location_img{
  width:20px;
  height:20px;
  position: absolute;
  top:15px;
  left:20px;
}
.Search_img{
  width:20px;
  height:20px;
  position: absolute;
  top:16px;
  right:20px;
}
.forecast{
  /* border:1px solid black; */
  width: 100%;
  height:160px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 3%;
}
._iforecast{
  /* border: 1px solid purple; */
  display: inline-block; 
  width:90px;
  height:92%; 
  text-align: center;
  margin-right:1%;
  cursor:pointer;
}
._iforecast1{
  border: 3px solid #00A6FA;
  display: inline-block; 
  width:90px;
  height:92%; 
  text-align: center;
  margin-right:1%;
  cursor:pointer;
  background-color: #fbf3e6;
}
.Weather_info{
  /* border: 1px solid red; */
  width:100%;
  height:38%;
}
.weekdays{
  /* border:1px solid green; */
  width:100%;
  height:35%;
  color: #2a2c2e;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 10%;
}
.span{
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  color:#2a2c2e;
  /* border: 1px solid blueviolet; */
  position: relative;
  padding-right: 7%;
}
.Weather_image{
/* border: 1px solid blue; */
width:100%;
height:38%;
margin-top: 7%;
}
.image1{
  margin-top: 15%;
  height:60%;
  width:30%;
}
.Weather_status{
  /* border: 1px solid blueviolet; */
  font-family: sans-serif;
  font-weight: 700;
  color:#2a2c2e;
}
.app{
    overflow-x: scroll;
    overflow-y: scroll;
    /* border:1px solid green; */
    width: 96%;
    margin-left:2%;
  margin-top:2%;
}
.GraphDiv{
  margin-top: 4%;
  /* border :1px solid black; */
  border-radius: 1%;
  width: 100%;
  height:78%;
  box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
}
.row{
width:100%;
/* border:1px solid violet; */
z-index: 10;
}
.TempInfo{
  /* border:1px solid chartreuse; */
  width:100%;
  height:8%;
  display: flex;
  position: relative;
  margin-top: 2%;
}
.TempInfo1{
  /* border:1px solid purple; */
  margin-top: 1%;
  width: 15%;
  height:70%;
  margin-left:2%;
  font-family: sans-serif;
  font-weight: bolder;
  font-size:48px;
}
.TempInfo2{
  /* border:1px solid purple; */
  margin-top: 1.5%;
  width:6%;
  height:70%;
}
.LowerGraph1{
/* border:1px solid navy; */
height:19%;
}
.LowerGraph2{
  height:100%;
  /* border:1px solid green; */
  width: 90%;
  margin:auto;
}
.TempDetails{
  /* border:1px solid greenyellow; */
  height:7%;
  display:flex;
  gap:2%;
  margin-top:4%;
}
.TempDetails1{
  /* border:1px solid red; */
  height:9%;
  font-family: sans-serif;
  font-weight: 600;
  position: relative;
}
.Pressure{
  height: 80%;
  width:46.5%;
  background-color: #F3FBFF;
  font-family: sans-serif;
  padding-left: 1%;
  font-weight: 600;
  margin-left: 1.7%;
}
.Humidity{
  height:80%;
  width:46%;
  background-color: #F3FBFF;
  font-family: sans-serif;
  padding-left: 1%;
  font-weight: 600;
}
.Pressure_info{
  font-weight: 300;
}
.Humidity_info{
  font-weight: 300;
}
.sunset{
  position:absolute;
  right:2%;
  top:0%;
}
.sunrise{
  position:absolute;
  left:2%;
}
.sunrise_info{
  font-weight: 300;
  color:#555555;
}
.sunset_info{
  font-weight:300;
  color:#555555;
}
.suggest{
  border-radius: 1%;
  /* border:1px solid green; */
  position: absolute;
  top:10%;
  width:57.7%;
  height:auto;
  z-index:10;
  background-color: white;
  box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
}
.citiesoptions{
  /* border:1px solid; */
  border-bottom:1px solid grey;
  font-size: larger;
  font-family: sans-serif;
  padding:1%;
  cursor: pointer;
  height:20%;
  line-height: 2.15;
}
