.App {
  text-align: center;
  width:700px;
  margin-left:25%;
  height:650px;
  border:1px solid red
}
.input_box{
 border-color: #f5f5f5;
  border-radius:5px;
  box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
  font-weight: 600;
  width:100%;
  height:40px;
}
._flex{
  display:flex;
}
.forecast{
  border:1px solid green;
  width:700px;
  height:150px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

}
._iforecast{
  border: 1px solid blue;
  height:150px;
  width:200px;
  cursor:pointer;
}
.span{
  font-size: 14px;
  font-weight: 600;
}
.pimage{
  border:1px solid red;
  width:80%;
  margin-left:10%;
}