.App {
  width:700px;
  margin-left:25%;
  height:750px;
  border:1px solid red
}
.input_box{
  border-color: #f5f5f5;
  border-radius:5px;
  box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
  text-transform: capitalize;
  width:100%;
  height:50px;
  padding: 0px 50px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}
._flex{
  display:flex;
  border: 1px solid yellow;
  position: relative;
}
.Location_img{
  width:20px;
  height:20px;
  position: absolute;
  top:15px;
  left:20px;
}
.Search_img{
  width:20px;
  height:20px;
  position: absolute;
  top:16px;
  right:20px;
}
.Graph_div{
  width:100%;
  height:540px;
  border:1px solid violet
}
.forecast{
  border:1px solid green;
  width: 700px;
  height:150px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
._iforecast{
  border: 1px solid blue;
  display: inline-block; 
  width:300px;
  height:130px; 
}
.span{
  font-size: 15px;
  font-weight: 600;
}
.pimage{
  border:1px solid red;
  width:80%;
  margin-left:10%;
}